<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>USER primer design</title>
    <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}" -->
  </head>
  <body>
    {% block body %}
      <h1>{{ title }}</h1>
      <b>Instructions</b>: {{ instructions }}<br>
      You may also be looking for: design primers to <a href="http://sculpting-evolution.media.mit.edu/primer">introduce mutations</a> or <a href="http://sculpting-evolution.media.mit.edu/junction">join junctions</a>. <a href="https://bitbucket.org/edebenedictis/primer_design">Source</a>.
      <p> </p><b>Enter parameters</b>:
      <form method="post" action="">
        {% for field in form %}
          <p>{{ field.label }} {{ field }}</p>
        {% endfor %}
        <p><button type="submit">Submit</button></p>
      </form>
    {% endblock %}
  </body>
</html>